$primary-color: #ffffff;
$font-family: 'Poppins', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

  
body {
  font-family: $font-family;
  min-height: 100vh;
  *{
    margin: 20px auto;
    max-width: 700px;
  }
}

main{
  margin-top: 0;
  background-color: #f0f5f4;
  color: #000;
  padding: 0rem 1rem;
  padding-bottom: 1rem;

  .first-filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
}



header {
  display: flex;
  flex-direction: column;
  background-color: #95ac5a;
  padding: 0 1rem;

  h1 {
    font-family: $font-family;
    font-weight: 600;
    font-style: normal; 
    font-size: 3rem;
    color: $primary-color;
  }

  #error-alert {
    color: #ffffff;
    background-color: #ddd;
    padding: 5px;
    width: 8rem;
    border-radius: 3px;
    display: none; 
  }

 
}

.input-section {
  display: flex;
  align-items: center;

  input[type="text"],
  input[type="datetime-local"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 10px;
  }

  
}

#addBtn{
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  border: none;
  border-radius: 3px;
  background-color: rgb(49, 87, 23);
  color: #fff;
  cursor: pointer;

  p {
    font-size: 1rem;
    font-weight: bold;
  }
}



.todos-filter {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 20px;

  .dropdown {
    position: relative;

    label {
      background-color: rgb(49, 87, 23);
      height: 1.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8rem;
      border: none;
      border-radius: 3px;
      color: #fff;
      background-color: rgb(49, 87, 23);
      cursor: pointer;
    }

    #filter-select {
      position: absolute;
      top: 100%;
      left: 0;
      padding: 10px;
      background-color: #fff;
      border-radius: 3px;
      background-color:  rgba(22, 20, 20, 0.1);
      display: none; 
    }
  }

  #delete-all {
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(49, 87, 23);
    cursor: pointer;
    
    p {
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

table {
  width: 100%;
  // border-collapse: collapse;
  
  th,
  td {
    width: auto;
    padding: 10px;
    border: 1px solid #ddd;
  }

  th {
    text-align: left;
  }
}

// Styles for different todo statuses
.todo-pending {
  color: #ccc; 
}

.todo-completed {
  text-decoration: line-through;
  color: #333; 

}

.todo-overdue {
  color: red; 
}
