$font-family: 'Lora', serif;
$base-font-size: 1rem;
$text-color: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: $font-family;
  font-size: $base-font-size;
  color: $text-color;
}

body {
  background-color: #f8f2f0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  // justify-content: center;
  
  * {
    flex-direction: column;
    width: 40%;
   }

  header{
    background-color: #905c5a;
    display: flex;
    padding-left: 0;
    padding: 1.875rem;
    gap: 2rem;
    
    h1{
      font-size: 3rem;
      color: #fff;
    }

    section{
      width: 100%;

      button {
        width: 7rem;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 1.25rem;
      text-align: center;
      padding: 0.275rem ;
      color:#fff;
      list-style: none;
      width: 100%;
      
      li{
        color: #fff;
        // padding: rem;
        width: 7rem; 
      }
    }

  }

  main{
    padding: 1.875rem;
  }
}

